@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: 'Roboto Slab', serif;
  --font-raleway: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-roboto);
  background: url('https://cdn.pixabay.com/photo/2017/10/10/07/48/hills-2836301_1280.jpg');
  background-size: cover;
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}

.city {
  font-size: 50px;
}

.box {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
}

.forecast {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  display: flex;
  margin: 4rem 0 2rem;
}

.temp {
  font-size: 48px;
}
.feel {
  font-size: 28px;
}
.humi {
  font-size: 20px;
}

.cloud-icon {
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

.extend {
  background: none;
  font-size: 16px;
  border: none;
  padding: 5;
  color: white;
  margin-top: 16px;
}

.day{
  font-size: 22px;
}
